version: "3.0"
services:
  client:
    container_name: client
    build: ./python_client
    tty: true
    cap_add:
    - NET_ADMIN
  server:
    container_name: server
    build: ./python_server
    tty: true
    cap_add:
    - NET_ADMIN
