version: "3.0"
services:
  client:
    container_name: z16_client
    build: ./python_client
    tty: true
    entrypoint: ["/bin/sh", "-c", "/app/add_loss.sh && python /app/client.py -s 172.21.16.2 -p 8000"]
    cap_add:
      - NET_ADMIN
    networks:
      - z16_network
  server:
    container_name: z16_server
    build: ./python_server
    tty: true
    command: ["-s", "172.21.16.2", "-p", "8000"]
    cap_add:
      - NET_ADMIN
    networks:
      - z16_network

networks:
  z16_network:
    external: true
